@import "tailwindcss";
@import "./fonts.css";

@layer app {

    :root,
    :host {
        --app-main-bg-color: #042710;
        --app-secondary-bg-color: #114729;
        --app-text-color: #daeddc;
    }
}

body {
    color: var(--app-text-color);
}

/* remake select styles for consistency across browsers */
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;

    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff'%20viewBox='0%200%2016%2016'><path%20d='M7.247%2011.14%202.451%205.658C1.885%205.013%202.345%204%203.204%204h9.592a1%201%200%200%201%20.753%201.659l-4.796%205.48a1%201%200%200%201-1.506%200z'/></svg>");
    background-repeat: no-repeat;
    background-position: right 0.25rem center;
    background-size: 0.75rem;
}

.font-zen {
    font-family: 'ZenKakuGothicAntique-Regular';
}

.font-zen-bold {
    font-family: 'ZenKakuGothicAntique-Bold';
}

.font-zen-medium {
    font-family: 'ZenKakuGothicAntique-Medium';
}

.font-zen-light {
    font-family: 'ZenKakuGothicAntique-Light';
}

.app-text-color {
    color: var(--app-text-color);
}

.tag {
    @apply bg-blue-800 rounded-full py-1 px-2;
}

.tag span {
    display: inline-block;
    transform: translateY(-0.07em);
}

.button {
    @apply bg-green-800 py-1 px-2 rounded-xl inline-block;
}

.button:hover {
    @apply bg-green-700;
}

.button:active {
    @apply bg-green-900;
}

.button span {
    display: inline-block;
    transform: translateY(-0.07em);
}

.transition-ease {
    transition: all 0.3s ease;
}

svg.icon path {
    fill: currentColor
}

.media-icon {
    opacity: 0.5;
}

.media-icon:hover {
    opacity: 0.8;
}

select option {
    background-color: var(--app-main-bg-color);
}